@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --limon: rgba(225, 255, 160, 1);
    --dark-green: rgba(12, 37, 32, 1);
    --green: rgba(22, 64, 56, 1);
    --black: rgba(51, 51, 51, 1);

    --container-padding: 35px;
    --container-width: 1240px;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    width: 100%;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    margin-left: 40px;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

/* header */
.header {
    position: relative;
    padding-top: 40px;

}

/* navigate */
.header__top {
    font-weight: 400;
    font-size: 14px;

    min-height: 80px;
    margin-bottom: 28px;
    color: var(--black)
}

.header__nav {
    display: flex;

    column-gap: 225px;
    justify-content: center;
    align-items: center;
}

/* .header__nav a {
    color: var(--black);
} */

.nav__list {
    display: flex;
    column-gap: 42px;
}

.nav__list a {
    position: relative;
    color: var(--black);
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";

    position: absolute;
    display: block;

    left: 0px;
    bottom: -4px;

    height: 4px;
    width: calc(80%);
    border-radius: 50px;
    background: var(--green);
}

.nav_login {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.nav_login a {
    color: var(--black);
}

/* BUtton */
.btn {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;

    padding: 11px 25px;

    color: var(--limon) !important;

    background: var(--green);
    border-radius: 100px;

}

.btn:hover {
    color: red !important;
    transition: color 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Header content */
.header__content {
    min-height: 845px;
    background-image: url(./../img/header/1.png);
    background-size: cover;
    padding-top: 146px;
    text-decoration: none;
    color: #fff;
}

.header_container {
    max-width: 657px;
    margin-left: 38px;

}

.header_title {

    font-size: 64px;
    font-weight: 400;
    margin-bottom: 17px;

}

.header_text {
    font-size: 17px;
    font-weight: 400;
}

.header_login {
    margin-top: 64px;
    column-gap: 20px;

    display: flex;
    align-items: center;

}

.header_request {
    color: inherit;
    font-size: 14px;
    font-weight: 400px;
}

.header--btn {

    width: 174px;
    height: 50px;

    padding: 13px 25px;
    line-height: 24px;
    background-color: var(--limon);
    color: var(--dark-green) !important;
}


/* INTRODUCING */
.introducing {
    padding-top: 159px;
    background: var(--dark-green);
    height: 1089px;

}

.introducing__column {
    display: flex;
    column-gap: 273px;
}

/* introducing title */
.introducing__title {

    color: #fff;
    width: 350px;
}

.introducing__title h1 {
    font-weight: 400;
    font-size: 21px;
}

.introducing__title h2 {
    font-weight: 400;
    font-size: 42px;
}

/* introducing__text */
.introducing__text {
    color: #fff;
    font-weight: 400;
}

.introducing__text h1 {
    font-size: 20px;
    color: var(--limon);
    margin-bottom: 16px;
}

.introducing__text h2 {
    width: 576px;
    font-size: 16px;
    margin-bottom: 29px;
}

.introducing__plates {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    color: var(--limon);
    font-weight: 400;
    font-size: 29px;
    height: 430px;
}

.introducing__plate {
    position: relative;
    background-color: var(--green);
    width: 380px;
    border-radius: 4px;
    padding-left: 32px;
}


/* REFERENCE */

.introducing__reference::before {
    content: "";
    position: absolute;
    display: block;
    left: 32px;
    top: 32px;
    width: 64px;
    height: 64px;
    background-image: url(./../img/introduce/1.svg);
}

.introducing__plate h1 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 13px;
    margin-top: 206px;
}

.introducing__plate span {
    display: block;
    position: absolute;
    font-size: 32px;
    color: #fff;
    left: 130px;
    top: 243px;

}

.introducing__plate h2 {
    margin-top: 49px;
    width: 290px;
    height: 63px;

    color: #fff;
    font-size: 14px;
}

/* PULSE */

.introducing__pulse::before {
    content: "";
    position: absolute;
    display: block;
    left: 32px;
    top: 32px;
    width: 64px;
    height: 64px;

    background-image: url(./../img/introduce/2.svg);
}

.introducing__pulse::after {
    content: "Coming soon";
    position: absolute;
    display: block;
    left: 90px;
    top: 209px;
    width: 72px;
    height: 20px;
    font-size: 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;

    padding: 2px 4px;
    text-align: center;
}

/* PULSE */

.introducing__exits::before {
    content: "";
    position: absolute;
    display: block;
    left: 32px;
    top: 32px;
    width: 64px;
    height: 64px;

    background-image: url(./../img/introduce/3.svg);
}

.introducing__exits::after {
    content: "New";
    position: absolute;
    display: block;
    left: 84px;
    top: 209px;
    width: 30px;
    height: 18px;
    font-size: 11px;
    color: var(--green);
    background: var(--limon);
    border-radius: 2px;
    padding: 2px 4px;
    text-align: center;
}