@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --limon: rgba(225, 255, 160, 1);
    --dark-green: rgba(12, 37, 32, 1);
    --green: rgba(22, 64, 56, 1);
    --black: rgba(51, 51, 51, 1);

    --conteiner-padding: 40px;
    --conteiner-width: 1240px;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    width: 100%;
}

.none {
    display: none !important;
}

.conteiner {
    max-width: var(--conteiner-width);
    margin-left: 40px;
    padding: 0 var(--conteiner-padding);
    margin: 0 auto;
}

/* header */
.header {
    position: relative;
    padding-top: 40px;

}

/* navigate */
.header__top {
    font-weight: 400;
    font-size: 14px;

    min-height: 80px;
    margin-bottom: 28px;
    color: var(--black)
}

.header__nav {
    display: flex;

    column-gap: 225px;
    justify-content: center;
    align-items: center;
}

/* .header__nav a {
    color: var(--black);
} */

.nav__list {
    display: flex;
    column-gap: 42px;
}

.nav__list a {
    position: relative;
    color: var(--black);
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";

    position: absolute;
    display: block;

    left: 0px;
    bottom: -4px;

    height: 4px;
    width: calc(80%);
    border-radius: 50px;
    background: var(--green);
}

.nav_login {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

/* BUtton */
.btn {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;

    padding: 11px 25px;

    color: var(--limon) !important;

    background: var(--green);
    border-radius: 100px;

}

.btn:hover {
    color: red !important;
    transition: color 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* Header content */
.header__content {
    min-height: 845px;
    background-image: url(./../img/header/1.png);
    background-size: cover;
    padding-top: 146px;
    text-decoration: none;
    color: #fff;
}

.header_conteiner {
    max-width: 657px;
    margin-left: 38px;

}

.header_title {

    font-size: 64px;
    font-weight: 400;
    margin-bottom: 17px;

}

.header_text {
    font-size: 17px;
    font-weight: 400;
}

.header_login {
    margin-top: 64px;
    column-gap: 20px;

    display: flex;
    align-items: center;

}

.header_request {
    color: inherit;
    font-size: 14px;
    font-weight: 400px;
}

.header--btn {

    width: 174px;
    height: 50px;

    padding: 13px 25px;
    line-height: 24px;
    background-color: var(--limon);
    color: var(--dark-green) !important;
}